# Ignore everything
*

# Allow these folders
!element/
!elements/
!layout/
!ui/
!animation/

# Allow everything inside them
!element/**
!elements/**
!layout/**
!ui/**
!animation/**

# Keep .gitignore
!.gitignore
